<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="Showroomrod.com แหล่งซื้อขายรถมือสอง">
    <meta name="keywords" content="แหล่งซื้อขายรถมือสอง,รถมือสอง,ตลาดรถมือสอง,ซื้อรถมืือสอง,ขายรถมือสอง,ขายรถ">
    <meta name="author" content="showroomrod">
    <meta name="og:title" content="Showroomrod.com แหล่งซื้อขายรถมือสอง">
    <meta name="og:image" content="http://showroomrod.com/public/images/photo-og.jpg">

    <!-- optimize for apple -->
    <!-- require back button 
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transparent"> -->
    <meta name="apple-mobile-web-app-title" content="Showroomrod">
    <link rel="apple-touch-icon" sizes="120x120" href="images/ios-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/ios-icon-152.png">

    <!-- optimize for andriod -->
    <meta name="theme-color" content="#019BFF">
    <link rel="icon" sizes="192x192" href="images/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

    <!-- Image Upload -->
    <link rel="stylesheet" href="/css/uploader.css" media="all">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            
    <link rel="stylesheet" href="/css/showroomrod.css">
    <title><%= title %></title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108092138-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-108092138-1');
        </script>
</head>