<!DOCTYPE html>
<html lang="th">
      
    <% include partials/header %>

    <body>
        <% include partials/navbar2 %>
        
        <%- body -%>
    
        <% include partials/footer %>
    </body>
</html>